
.preview{
    height: 200px;
    width: 300px;
}

.preview img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* Styles to IE10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .ibg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
        
    .ibg img{        
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
 }